{
  "install_form": {
    "user[email]": "john.doe@xentropics.nl",
    "user[email-confirm]": "john.doe@xentropics.nl",
    "user[name]": "John Doe",
    "user[password-confirm][password]": "example123",
    "user[password-confirm][password-confirm]": "example123",
    "settings[installation_title]": "Omeka S on docker",
    "settings[time_zone]": "Europe/Brussels",
    "settings[locale]": "nl_NL",
    "submit": "Submit"
  },
  "database": {
    "user": "exampleuser",
    "dbname": "exampledb",
    "host": "db",
    "port": "3306",
    "password": "examplepass"
  },
  "modules": [
    {
      "name": "IiifServer",
      "version": "3.6.6.6",
      "zipUrl": "https://github.com/Daniel-KM/Omeka-S-module-IiifServer/releases/download/${version}/IiifServer-${version}.zip",
      "install": true
    },
    {
      "name": "ImageServer",
      "version": "3.6.10.3",
      "zipUrl": "https://github.com/Daniel-KM/Omeka-S-module-ImageServer/releases/download/${version}/ImageServer-${version}.zip",
      "install": true,
      "preActivate": ["echo foo", "echo bar"],
      "postInstall": ["echo 'done!'"]
    }
  ]
}
